[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "casa"
url = "https://casa-pip.nrao.edu:443/repository/pypi-group/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
jupyter = "*"

[packages]
numpy = "*"
scipy = "*"
astropy = "*"
matplotlib = "*"
casatools = "*"
casatasks = "*"

[requires]
python_version = "3.6.8"
